@model LinkCutter.Models.LinkViewModel

@{
    ViewData["Title"] = "EditLink";
}

<h1>EditLink</h1>

<h4>LinkViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveLink">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

             <input type="hidden" value="@Model.Id" name="Id" id="Id"/>
            </div>
            <div class="form-group">
                <label asp-for="FullLink" class="control-label"></label>
                <input asp-for="FullLink" class="form-control" disabled />
                <span asp-validation-for="FullLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CutLink" class="control-label"></label>
                <input asp-for="CutLink" class="form-control" />
                <span asp-validation-for="CutLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewCount" class="control-label"></label>
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

